<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- стили -->
    %s
    <title>Магазин</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <!-- navigation -->
            %s
            <!-- adminNavigation -->
            %s
        </div>
        <div class="pageWrap">
            <form method="post" enctype="multipart/form-data">
                <label for="id">Идентификатор</label>
                <input type="number" name="id" id="id" value="%s">
                <input type="submit" name="submitId" value="Подтвердить">
                <label for="type">Тип
                    <ol start="0">
                        <li>Журнал</li>
                        <li>Комикс</li>
                    </ol>
                </label>
                <input type="number" name="type" id="type" value="%s">
                <label for="pageCount">Количество страниц</label>
                <input type="number" name="pageCount" id="pageCount" value="%s">
                <label for="publisher">Издатель</label>
                <input type="text" name="publisher" id="publisher" value="%s">
                <label for="titleRussian">Название на русском языке</label>
                <input type="text" name="titleRussian" id="titleRussian" value="%s">
                <label for="titleOriginal">Название на оригинальном языке</label>
                <input type="text" name="titleOriginal" id="titleOriginal" value="%s">
                <label for="author">Автор(ы)</label>
                <input type="text" name="author" id="author" value="%s">
                <label for="artist">Художник(и)</label>
                <input type="text" name="artist" id="artist" value="%s">
                <label for="publicationDate">Дата выхода</label>
                <input type="date" name="publicationDate" id="publicationDate" value="%s">
                <label for="rating">Возрастное ограничение
                    <ol start="0">
                        <li>0+</li>
                        <li>6+</li>
                        <li>12+</li>
                        <li>16+</li>
                        <li>18+</li>
                    </ol>
                </label>
                <input type="number" name="rating" id="rating" value="%s">
                <label for="price1">Цена в рублях</label>
                <input type="number" name="price1" id="price1" value="%s">
                <label for="price2">Цена в копейках</label>
                <input type="number" name="price2" id="price2" value="%s">
                <label for="description">Краткое описание</label>
                <input type="text" name="description" id="description" value="%s">
                <label for="language">Язык</label>
                <input type="text" name="language" id="language" value="%s">
                <label for="category">Категория (одна из следующих)
                    <ul>
                        <li>Фантастика</li>
                        <li>Боевик</li>
                        <li>Драма</li>
                        <li>Супергерои</li>
                        <li>Бизнес</li>
                        <li>Электроника</li>
                        <li>Путешествие и туризм</li>
                        <li>Наука</li>
                    </ul>
                </label>
                <input type="text" name="category" id="category" value="%s">
                <label for="image">Изображение</label>
                <input type="file" name="image" id="image">
                <label for="file">Файл с продуктом</label>
                <input type="file" name="file" id="file">
                <label for="hidden">Продукт скрыт от покупателей</label>
                <input type="checkbox" name="hidden" id="hidden" %s>
                <input type="submit" name="submitProduct" value="Обновить">
            </form>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>