<div class="categoriesWrap">
    <div class="comics">
        <div class="typeHeading">Комиксы</div>
        <div class="categories">
            <a href="?category=Фантастика">Фантастика</a>
            <a href="?category=Боевик">Боевик</a>
            <a href="?category=Драма">Драма</a>
            <a href="?category=Супергерои">Супергерои</a>
        </div>
    </div>
    <div class="journals">
        <div class="typeHeading">Журналы</div>
        <div class="categories">
            <a href="?category=Бизнес">Бизнес</a>
            <a href="?category=Электроника">Электроника</a>
            <a href="?category='Путешествие и туризм'">Путешествие и туризм</a>
            <a href="?category=Наука">Наука</a>
        </div>
    </div>
</div>