<div class="categoriesWrap">
    <form>
        <label for="category">Выберите категорию</label>
        <select name="category" id="category">
            <option>Все</option>
            <optgroup label="Комиксы">
                <option>Фантастика</option>
                <option>Боевик</option>
                <option>Драма</option>
                <option>Супергерои</option>
            </optgroup>
            <optgroup label="Журналы">
                <option>Бизнес</option>
                <option>Электроника</option>
                <option>Путешествие и туризм</option>
                <option>Наука</option>
            </optgroup>
        </select>
        <input type="submit" value="Выбрать">
    </form>
</div>