@import url('/views/fonts/stylesheet.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style-type: none; */
    text-decoration: none;
    font-family: 'TT Interfaces', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100vw;
    min-width: 800px;
}

.page {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.pageWrap {
    margin: 20px;
}

.navigation {
    background: rgb(46 53 109);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navLink, .logo {
    color: white;
    flex: 1;
    transition: all 0.5s;
    padding: 10px;
}
.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-style: normal;
}
.logo {
    width: 40px;
    height: 40px;
    padding: 0;
    flex-grow:0;
    flex-shrink: 0;
}
.logoText {
    padding-left: 10px;
}
.navLink:hover {
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
}
.navLink:focus {
    background: white;
    color: black;
}
.navigation .navLink.selected {
    background: rgb(20 30 50);
}
.navigation .navLink.selected:hover {
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navigation .navLink.selected:focus {
    background: white;
    color: black;
}


.image {
    height: 297px;
    width: 211px;
    border: 1px solid black;
}
.product * {
    font-weight: 800;
    font-style: normal;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.product {
    transition: all 0.5s;
    /* background: rgba(15, 15, 15, 0.7); */
    background: rgba(46, 53, 109, 0.2);
    border-radius: 20px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.imageWrap {
    background: white;
    padding: 20px;
    border-radius: 20px 0px;
}

.infoWrap {
    /* border-top: 3px solid rgba(46, 53, 109, 0.5); */
    /* background: rgba(46, 53, 109, 0.2); */
    border-radius: 20px 0px;
    margin-top:20px;
    padding: 20px;
}

.product:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.rating {
    width: 50px;
    height: 70px;
}

.price, .title {
    font-size: 25px;
}

.cartAdd, .cartDelete, .productInfo, .download {
    color: rgb(46 53 109);
}

form.pageInputWrap {
    display: flex;
    flex-direction: row;
}

input.pageInput {
    text-align: center;
    background: rgb(20 30 50);
    color: white;
    -moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    border: none;
}
input.pageInput::-webkit-outer-spin-button,
input.pageInput::-webkit-inner-spin-button {
	display: none;
}
input.pageInput:focus {
    outline: none;
}