<table border="1">
    <tr>
        <th>id</th>
        <td>%d</td> <!-- a1 -->
    </tr>
    <tr>
        <th>page_count</th>
        <td>%d</td> <!-- a2 -->
    </tr>
    <tr>
        <th>title_russian</th>
        <td>%s</td> <!-- a3 -->
    </tr>
    <tr>
        <th>title_original</th>
        <td>%s</td> <!-- a4 -->
    </tr>
    <tr>
        <th>publication_date</th>
        <td>%s</td> <!-- a5 -->
    </tr>
    <tr>
        <th>price</th>
        <td>%d,%d ₽</td> <!-- a6,a7 -->
    </tr>
    <tr>
        <th>description</th>
        <td>%s</td> <!-- a8 -->
    </tr>
    <tr>
        <th>image_path</th>
        <td><a href="%s">%s</a></td> <!-- a9,a10 -->
    </tr>
    <tr>
        <th>file_path</th>
        <td><a href="%s">%s</a></td> <!-- a11,a12 -->
    </tr>
    <tr>
        <th>publisher</th>
        <td>%s</td> <!-- a13 -->
    </tr>
    <tr>
        <th>author</th>
        <td>%s</td> <!-- a14 -->
    </tr>
    <tr>
        <th>artist</th>
        <td>%s</td> <!-- a15 -->
    </tr>
    <tr>
        <th>rating</th>
        <td>%d+</td> <!-- a16 -->
    </tr>
    <tr>
        <th>language</th>
        <td>%s</td> <!-- a17 -->
    </tr>
    <tr>
        <th>category</th>
        <td>%s</td> <!-- a18 -->
    </tr>
    <tr>
        <th>Действие</th>
        <td><a href="%s">Удалить</a></td> <!-- a19 -->
    </tr>
</table>