<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- стили -->
    %s
    <title>Магазин</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <!-- navigation -->
            %s
        </div>
        <div class="product">
            <img class="image" src="%s"> <!-- a1 -->
            <div class="info">
                Тип: %s <br> <!-- a2 -->
                Количество страниц: %d <br> <!-- a3 -->
                Издатель: %s <br> <!-- a4 -->
                Автор(ы): %s <br> <!-- a5 -->
                Название на русском: %s <br> <!-- a6 -->
                Оригинальное название: %s <br> <!-- a7 -->
                Художник(и): %s <br> <!-- a8 -->
                Дата выхода: %s <br> <!-- a9 -->
                Возрастное ограничение: %d+ <br> <!-- a10 -->
                Цена: %d,%d ₽ <br> <!-- a11,a12 -->
                Краткое Описание: %s <br> <!-- a13 -->
                Язык: %s<br> <!-- a14 -->
            </div>
            <a class="cartAdd" href="%s">Добавить в корзину</a> <!-- a15 -->
        </div>
    </div>
</body>

</html>