<table border="1">
    <tr>
        <th>id</th>
        <td>%d</td> <!-- a1 -->
    </tr>
    <tr>
        <th>surname</th>
        <td>%s</td> <!-- a2 -->
    </tr>
    <tr>
        <th>name</th>
        <td>%s</td> <!-- a3 -->
    </tr>
    <tr>
        <th>patronymic</th>
        <td>%s</td> <!-- a4 -->
    </tr>
    <tr>
        <th>email</th>
        <td>%s</td> <!-- a5 -->
    </tr>
    <tr>
        <th>birthday</th>
        <td>%s</td> <!-- a6 -->
    </tr>
    <tr>
        <th>phone_number</th>
        <td>+%d</td> <!-- a7 -->
    </tr>
    <tr>
        <th>login</th>
        <td>%s</td> <!-- a8 -->
    </tr>
    <tr>
        <th>password</th>
        <td>%s</td> <!-- a9 -->
    </tr>
    <tr>
        <th>Действие</th>
        <td><a href="%s">Удалить</a></td> <!-- a10 -->
    </tr>
</table>